
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/img/logo.png" alt="" width="100" height="100">
    <h1 class="display-5 fw-bold text-body-emphasis">Bienvenido a Milotel</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"> ¡El mejor hotel de vacaciones! Un destino paradisíaco te espera, donde podrás sumergirte en momentos inolvidables de relajación, diversión y descubrimiento. ¡Explora nuestras instalaciones y déjate cautivar por la magia que tenemos reservada para ti!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/Usuario/Login" class="btn btn-primary btn-lg px-4 gap-3">Logueate</a>
            <a href="/Usuario/Create" class="btn btn-outline-secondary btn-lg px-4">Registro</a>
        </div>
    </div>
</div>