<div class="d-flex align-items-center justify-content-center mt-10" style="height:auto;">
    <div class="card text-center">
        <div class="card-header">
            @*@ViewBag.Usuario.Nombre @ViewBag.Usuario.Apellido*@
        </div>
        <div class="card-body">
            user
            <p> @ViewBag.email  </p>
        </div>

    </div>
</div>


