@using AppLogic.DTOs
@using BussinessLogic.Entidades
@model AppLogic.DTOs.PedidoDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recargo" class="control-label"></label>
                <input asp-for="Recargo" class="form-control" />
                <span asp-validation-for="Recargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPrometida" class="control-label"></label>
                <input asp-for="FechaPrometida" class="form-control" />
                <span asp-validation-for="FechaPrometida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="form-group">
        Lineas:
        @if (ViewBag.Lineas != null && ViewBag.Lineas.Count > 0)
        {
            @foreach (LineaDTO linea in ViewBag.Lineas)
            {
                <p>@linea.Articulo.Nombre - @linea.Cantidad</p>
            }
        }
    </div>
</div>
<div>
    @if (ViewBag.Articulos != null)
    {
        <form asp-action="AgregarLinea">
            <div class="form-group">
                <select name="id">
                    @foreach (Articulo articulo in ViewBag.Articulos)
                    {
                        <option value="@articulo.Id">@articulo.Nombre</option>
                    }
                </select>

                <label for="Cantidad" class="control-label">Cantidad</label>
                <input id="Cantidad" type="number" name="cantidad" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Añadir línea" class="btn btn-primary" />
            </div>
        </form>
    }
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
